$base-font-size: 16px !default;
$text-color: black;
$border-color: lightgray;
$secondary-color: #03dac6;
$secondary-variant: #018786;

body {
    color: $text-color;
    margin: 0;
    word-break: break-word;
    font-family: -apple-system, BlinkMacSystemFont, 
    avenir next, avenir, segoe ui, 
    helvetica neue, helvetica, Ubuntu, roboto, 
    noto, arial, sans-serif;

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    * {
        max-width: 100%;
    }
}

a {
    color: $secondary-variant;
    // text-decoration: none;
}

h2 {
    margin-bottom: 8px;
}

h2, h3 {
    // font-family: Iowan Old Style, 
    // Apple Garamond, Baskerville, 
    // Times New Roman, Droid Serif, Times, 
    // Source Serif Pro, serif, 
    // Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

    font-weight: 700;
}

ul {
    padding-left: 10px;
    margin: 10px;
}

li {
    margin-bottom: 10px;
}

article {
    padding: 0 20px 0 20px;
}

header,footer {
    padding: 10px;
}

.home {
    padding: 1em;
}

.footnotes {
    font-size: 0.9em;
}

.site-title {
    color: $text-color;
    font-weight: bold; 
}

.post-counter {
    font-weight: bold; 
}

.post-info {
    margin: auto;
}

table {
    th,td {
        border-bottom: 1px solid $border-color;
        border-right: 1px double $border-color;
    }
}

p {
    line-height: 1.5;
}

ul, ol {
    line-height: 1.5;
}

// .content-wrapper {
//     max-width: 800px;
//     margin-right: auto;
//     margin-left: auto;
//     * {
//         max-width: 100%;
//     }
// }