$base-font-size: 16px !default;
$text-color: black;
$border-color: lightgray;
$secondary-color: #03dac6;
$secondary-variant: #228282;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

.site-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

// .sideline {
//     font-family: 'Roboto Condensed', sans-serif;
// }

header a {
    color: $text-color;
    font-family: 'Roboto Condensed', sans-serif;
}

em.deemph {
    color: gray;
    text-decoration: none;
}



body {
    color: $text-color;
    margin: 0;
    word-break: break-word;
    font-family: Noto Sans SC;

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    * {
        max-width: 100%;
    }
}

a{
    text-decoration:none;
 }
 
 a:hover {
    text-decoration:underline;
 }
 

a {
    color: $secondary-variant;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.tagline {
    font-size: 1.05em;
    margin-bottom: 2em;
    // font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 0.1em;
}



h2, h3 {
    // font-family: Iowan Old Style, 
    // Apple Garamond, Baskerville, 
    // Times New Roman, Droid Serif, Times, 
    // Source Serif Pro, serif, 
    // Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

    font-weight: 700;
}

ul {
    padding-left: 10px;
    margin: 10px;
}

li {
    margin-bottom: 10px;
}

article {
    padding: 0 20px 0 20px;
}

header,footer {
    padding: 10px;
}

.home {
    padding: 1em;
}

.footnotes {
    font-size: 0.9em;
}

.site-title {
    color: $text-color;
    font-weight: bold; 
}

.post-counter {
    font-weight: bold; 
}

.post-info {
    margin: auto;
}

table {
    th,td {
        border-bottom: 1px solid $border-color;
        border-right: 1px double $border-color;
    }
}

p {
    line-height: 1.5;
}

ul, ol {
    line-height: 1.5;
}

// .content-wrapper {
//     max-width: 800px;
//     margin-right: auto;
//     margin-left: auto;
//     * {
//         max-width: 100%;
//     }
// }